<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WordGuesser.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <WordGuesser.Properties.Settings>
            <setting name="aName" serializeAs="String">
                <value>Anon</value>
            </setting>
            <setting name="bName" serializeAs="String">
                <value>Anon</value>
            </setting>
            <setting name="cName" serializeAs="String">
                <value>Anon</value>
            </setting>
            <setting name="dName" serializeAs="String">
                <value>Anon</value>
            </setting>
            <setting name="eName" serializeAs="String">
                <value>Anon</value>
            </setting>
            <setting name="aScore" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="bScore" serializeAs="String">
                <value>8</value>
            </setting>
            <setting name="cScore" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="dScore" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="eScore" serializeAs="String">
                <value>1</value>
            </setting>
        </WordGuesser.Properties.Settings>
    </applicationSettings>
</configuration>